/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  /* CUSTOM RESETS */
  h1 {
    font-size: 52px;
  }

  /* HERO */
  .hero-text p {
    font-size: 18px;
    margin: 35px 0 25px;
  }

  /* SITEMAIN */
  /* Section: Map Feature */
  .section-map-feature {
    padding-top: 200px;
  }

  .section-map-feature .btn {
    margin: 60px 0 165px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  /* CUSTOM RESETS */
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 36px;
  }

  p + p {
    margin-top: 25px;
  }

  .accordion {
    margin-top: 30px;
  }

  /* Buttons */
  .btn {
    line-height: 40px;
    min-width: 170px;
  }

  /* HEADER */
  .site-header {
    padding-top: 40px;
  }

  /* HERO */
  .hero-content {
    padding-top: 65px;
  }

  .hero-text {
    max-width: 750px;
  }

  .hero-text p {
    font-size: 16px;
    margin: 25px 0 15px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  /* CUSTOM RESETS */
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  p + p {
    margin-top: 15px;
  }

  /* Buttons */
  .btn {
    min-width: 140px;
    font-size: 14px;
  }

  /* Elements */
  /* Tabs */
  .nav-tabs > li {
    float: none;
  }

  .nav-tabs.tab-style > li + li {
    margin-left: 0;
  }

  .tab-style + .tab-content {
    border-top-right-radius: 0;
    border-top: 0;
  }

  .nav-tabs.tab-style > li > a {
    margin: 1px 0;
  }

  .nav-tabs.tab-style > li:nth-child(-n + 2) > a {
    border-bottom: 0;
  }

  .nav-tabs.tab-style > li:nth-child(n + 2) > a {
    border-radius: 0;
  }
  /* HEADER */
  .site-header {
    padding-top: 20px;
  }

  .navbar-header .site-title {
    padding-left: 15px;
  }

  /* HERO */
  .hero-content {
    padding-top: 45px;
  }

  .hero-text p {
    font-size: 14px;
    margin: 20px 0 10px;
  }

  /* SITEMAIN */
  /* site-section */
  .site-section {
    padding: 30px 0 60px;
  }

  .subheading-text {
    font-size: 16px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  /* SITEMAIN */

  .section-services .col-xs-6 {
    width: 100%;
  }

  .section-services .col-xs-6 .service {
    min-height: 100%;
  }

  /* Section: Portfolio */
  .section-portfolio .col-xs-6 {
    width: 100%;
  }

  .section-portfolio .col-xs-6:not(:first-child) .portfolio-item {
    margin-top: 0;
  }

  .section-portfolio .col-xs-6:nth-child(odd),
  .section-portfolio .col-xs-6:nth-child(even) {
    padding: 0;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
