.hidden {
  display: none;
}

a {
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  cursor: pointer;
  color: white;
}

a:focus,
a:hover {
  color: #6fc754;
  outline: 0 none;
  text-decoration: none;
}

p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
  color: white;
  line-height: 22px;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 42px;
}

h1,
h2,
h3,
h4,
h5 {
  color: white;
}

p + p {
  margin-top: 40px;
}

/* Buttons */
.btn {
  line-height: 50px;
  min-width: 200px;
  font-size: 16px;
  font-weight: 300;
  border: 0;
  border-radius: 50px;
  color: white;
  background-color: #fff;
  padding: 0;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out,
    background-color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.btn-border {
  border: 1px solid white;
}

.btn-fill {
  background-color: #267df4;
  color: #fff;
}

.btn-gray {
  background-color: #f5f5f8;
  color: #26272d;
}

.btn-green {
  background-color: #6fc754;
  color: #fff;
}

.btn:hover,
button.btn:hover,
.btn:focus,
button.btn:focus {
  background-color: #26272d;
  color: #fff;
}

.btn-gray:hover,
.btn-gray:focus {
  background-color: #6fc754;
  color: #fff;
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  visibility: hidden;
  height: auto;
  margin-top: 0;
}
/* Selectpicker */
select {
  position: absolute !important;
  bottom: 0;
  left: 50%;
  display: block !important;
  width: 0.5px !important;
  height: 100% !important;
  padding: 0 !important;
  opacity: 0 !important;
  border: none;
}

.bootstrap-select .btn {
  border: 1px solid #26272d;
  border-radius: 10px;
}

.bootstrap-select span.pull-left {
  padding-left: 10px;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
  position: static;
  float: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bootstrap-select.open .dropdown-menu {
  display: block;
  border: 1px solid #26272d;
  border-radius: 10px;
}

.bootstrap-select.btn-group .dropdown-menu {
  padding: 5px 0;
  min-width: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 9999;
}

.bootstrap-select .dropdown-menu {
  display: none;
  visibility: visible;
  opacity: 1;
  padding: 0;
}

.bootstrap-select .bs-caret {
  float: right;
  padding-right: 10px;
}

.bootstrap-select .bs-caret .caret {
  border-top: 6px dashed;
  border-top: 6px solid\9;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.bootstrap-select .selected {
  color: #6fc754;
}

.bootstrap-select .check-mark {
  display: none;
}
/* LAYOUT
================================================== */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.img-res {
  display: block;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* Background colors */
.gray-bg {
  background-color: #f5f5f8;
}

/* Margin and padding resets */
.mb-10 {
  margin-bottom: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-50 {
  margin-top: 50px;
}

/* HEADER
================================================== */
.site-header {
  position: absolute;
  padding: 50px 0 0;
  background-color: transparent;
  width: 100%;
  z-index: 3;
}

/* Site-logo */
.site-title {
  font-size: 18px;
  line-height: 26px;
  color: #26272d;
}

.site-title:hover {
  color: #26272d;
}

.site-title span {
  font-weight: 700;
}

.site-title a:hover {
  color: #fff;
}

/* Navigation */
.navbar-collapse {
  text-align: center;
}

.navbar-nav {
  float: none;
  display: inline-block;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

/* HERO
================================================== */
.hero {
  background: url(../img/background.jpg) no-repeat center / cover;
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
}

.hero-content {
  display: table-cell;
  vertical-align: middle;
  padding-top: 75px;
}

.hero-text {
  max-width: 890px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.hero-text h1 {
  position: relative;
  margin: 0;
}

.hero-text p {
  position: relative;
  margin: 45px 0 30px;
  font-size: 20px;
  color: white;
}

.hero-text .btn {
  position: relative;
  background-color: rgb(32, 112, 32, 0.5);
}

.hero-text .btn:hover {
  background-color: #26272d;
  color: #fff;
}

.hero .breadcrumb {
  padding-top: 60px;
  margin-bottom: 0;
}

.hero .breadcrumb:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 45px;
  height: 12px;
  width: 80px;
  border-top: 5px solid #fff;
  border-bottom: 3px solid #fff;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.subpage-hero {
  height: 400px;
}

.subpage-hero.overlay:before {
  background-color: rgba(38, 39, 45, 0.5);
}

.subpage-hero .hero-content,
.subpage-hero .hero-content h1,
.subpage-hero a {
  color: #fff;
}

.subpage-hero a:hover {
  color: #6fc754;
}

.mainImg {
  max-width: 890px;
  width: 100%;
  margin: 10px auto;
  padding: 0 15px;
  text-align: center;
}
.mainImg img {
  width: 100px;
  height: 100px;
  margin: 10px;
}

@media only screen and (max-width: 767px) {
  .mainImg img {
    width: 50px;
    height: 50px;
    margin: 5px;
  }
}

/* 주문탭 디자인 */
.주문탭 {
  background-color: rgba(38, 39, 45, 0.8);
  width: 100%;
  border: 1px solid beige;
  padding: 10px;
}
.instarID {
  background-color: white;
  color: black;
  width: 60%;
  text-align: center;
}
