.tg {
  border-collapse: collapse;
  border-color: #c44d58;
  border-spacing: 0;
  margin: 0px auto;
}
.tg td {
  background-color: #f9cdad;
  border-color: #c44d58;
  border-style: solid;
  border-width: 1px;
  color: #002b36;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  background-color: #fe4365;
  border-color: #c44d58;
  border-style: solid;
  border-width: 1px;
  color: #fdf6e3;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-nfor {
  background-color: #372828;
  border-color: #000000;
  text-align: center;
  vertical-align: middle;
}
.tg .tg-p3h7 {
  border-color: #000000;
  font-family: "Arial Black", Gadget, sans-serif !important;
  text-align: center;
  vertical-align: middle;
}
.tg .tg-xwyw {
  border-color: #000000;
  text-align: center;
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  .tg {
    width: auto !important;
  }
  .tg col {
    width: auto !important;
  }
  .tg-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: auto 0px;
  }
}
